@tailwind base;
@tailwind components;
@tailwind utilities;

th {
    width: 180px;
}
td {
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link:hover {
    opacity: 0.7;
}
.link {
    cursor: pointer;
}